.container {
    width: 600px;
    text-align: center;
}

.ingredient {
    width: 60px;
    display: inline-block;
}

.banner {
    font-weight: bold
}

.button {
    opacity: 0.5;
    color: white;
    background: black;
    margin: 10px;
}

.button:disabled {
    background: grey;
}

.buttonOrder {
    background: yellow;
    padding: 10px;
}

.buttonOrder:disabled {
    background: grey;
}

.orderControlsContainer {
    padding: 10px;
    background: darkgoldenrod;
}

.fancyHamburger {
    height: 20px;
    width: 580px;
    background-color: #c68958;
    border-radius: 25px;

}

.fancyHamburgerContainer {
    height: 120px;
    margin-left: 10px;

}

.fancyHamburgerSalad {
    height: 20px;
    width: 580px;
    background-color: green;
    border-radius: 25px;
}

.fancyHamburgerBacon {
    height: 20px;
    width: 580px;
    background-color: chocolate;
    border-radius: 25px;
}

.fancyHamburgerCheese {
    height: 20px;
    width: 580px;
    background-color: yellow;
    border-radius: 25px;
}

.fancyHamburgerMeat {
    height: 20px;
    width: 580px;
    background-color: crimson;
    border-radius: 25px;
}